*{
 box-sizing: border-box;
}

body html {
    font-family: "Montserrat" sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, .87);
    line-height: 1.8;
    margin: 0;
}
.topbar {
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: O;
    width: 100%;
    padding: 30px;

}
.topbar nav {
    float: left;
   
}
.social {
    float: right;

}
.social  a {
    padding: 0 12px;
    opacity: .5;
    
}
.social a:hover{
    opacity: 1;
}
.topbar nav a {
    color: #9F9F9F;
    text-decoration: none;
    font-weight: 500;
     margin: 0 53px;
}

.topbar nav a:hover{
    color: #000000;
    text-decoration: underline;
}
.topbar nav a.active{
   color: #000000;
}
.banniere{
    height: 427px;
    background: no-repeat center center / cover  url("image/image.png")  ;
}
.main {
    float: left;
    width: calc(100% - 375px);
    height:200px ;
    background: gray;
}
.sidebar{
    float: right;
    height: 200px;
    background: lightgrey;
    width: 375px;

}